#login-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login-box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: var(--radius);
  align-items: flex-end;
  background: var(--dark-bg-1);
  margin: 20px 0;
  min-width: 500px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
    font-style: italic;

    input {
      margin-top: 5px;
      width: 100%;
      text-align: left;
    }

    // TODO change outline color etc.
  }

  input[type="submit"] {
    width: fit-content;
    flex-grow: 0;
    padding: 10px 15px;
    transition: filter var(--dur);

    &:disabled {
      filter: opacity(0.3);
      cursor: default;
    }
  }
}

#register-hint button {
  background-color: inherit;

  &:hover {
    background-color: var(--dark-bg-1);
  }
}

#login-browser {
  background: var(--background);
  margin-top: 10px;
  transition: background var(--dur);
  border-radius: 5px;

  svg {
    margin-right: 5px;
  }

  &:hover {
    background: var(--dark-bg-1);
  }
}
