.file {
  background: var(--dark-bg-1);
  border-radius: 10px;
  height: var(--file-height);
  margin-bottom: 0.5em;
  color: white;
  cursor: pointer;
  transition: var(--dur) background ease;

  .file-type {
    height: var(--file-height);
    width: var(--file-width);
    padding: 10px;
    display: grid;
    place-items: center;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }

  .file-name {
    width: 100%;
    text-align: left;
  }

  .file-last {
    font-size: 0.8em;
  }

  &:hover {
    background: var(--dark-bg-2);
  }
}
