.file-wrapper {
  border-bottom: 1px solid rgba(120, 120, 120, 0.7);
  max-width: 65em;
  margin: 0 auto;
  width: 100%;

  &:last-child {
    border: none;
  }

  &:not(:first-child):hover {
    cursor: pointer;
    .file {
      background: var(--dark-bg-2);
    }

    .file-selected {
      background: rgba(23, 125, 155, 80%);
    }
  }
  user-select: none;
}

.file {
  border-radius: 10px;
  height: var(--file-height);
  margin: 0.25em auto;
  color: white;
  display: grid;
  grid-template-columns: var(--file-height) auto 5em 6em;
  align-items: center;
  gap: 5px;
  // transition: var(--dur) background ease;

  .file-icon {
    height: var(--file-height);
    width: var(--file-height);
    display: grid;
    place-items: center;
    flex-grow: 0 !important;
    flex-shrink: 0;
    padding: 2px 0;

    img {
      height: 100%;
    }
  }

  .file-name {
    width: 100%;
    text-align: left;
    user-select: text;
  }

  .file-last {
    font-size: 0.8em;
  }

  &.file-selected {
    background: rgba(28, 156, 236, 0.8);
  }
}

.file-highlight {
  .file {
    background-color: rgba(166, 255, 0, 1);
  }
}
