#search-box {
  position: absolute;
  top: var(--top-height);
  right: 1em;
  transition: var(--dur) transform ease;
  transform: translateY(-300%);
  display: inline;
  z-index: 1;

  &.search-box-searching {
    transform: translateY(0);
  }
}
