#register-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#register-box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: var(--border-radius);
  align-items: flex-end;
  background: var(--dark-bg-1);
  margin: 20px 0;

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
    font-style: italic;

    input {
      margin-top: 5px;
      width: 100%;
      text-align: left;
      background: var(--dark-bg-2);
      border-radius: var(--border-radius);
    }

    // TODO change outline color etc.
  }

  #register-ticks {
    align-items: center;
    flex-direction: row;
    font-style: normal;

    input {
      width: auto;
    }

    p {
      flex-grow: 1;
      padding-left: 10px;
    }
  }

  input[type="submit"] {
    width: fit-content;
    flex-grow: 0;
    padding: 10px 15px;
    background: var(--dark-bg-2);
    border-radius: var(--border-radius);
    transition: filter var(--transition);

    &:disabled {
      filter: opacity(0.3);
      cursor: default;
    }
  }
}

#browser {
  background: var(--background);
  margin-top: 10px;
  transition: background var(--transition);
  border-radius: 5px;

  svg {
    margin-right: 5px;
  }

  &:hover {
    background: var(--dark-bg-1);
  }
}
