.settings-wrapper {
  --setHHeight: 3.5em;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  text-align: left;
  gap: 10px;
}

.settings-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: var(--setHHeight);
}

.settings-back {
  background: inherit;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  &:hover {
    background: var(--dark-bg-2);
  }
}

.settings-content {
  display: flex;
  height: calc(100% - var(--setHHeight));
  flex-direction: column;
  gap: 2em;
  width: 100%;
  padding: 0 10px;

  h3 {
    margin-bottom: 5px;
  }
}

.settings-section-content {
  display: flex;
  flex-direction: column;
  gap: 5px;

  button {
    width: max-content;
  }
}
