#connect {
  --connect-padding: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  .connect-settings {
    --height: 2.5em;
    height: var(--height);
    position: absolute;
    top: var(--connect-padding);
    right: var(--connect-padding);
    display: flex;

    .connect-switch {
      --connect-radius: calc(var(--height) / 2);
      height: var(--height);
      border-radius: var(--connect-radius);
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      width: calc(var(--height) * 3);
      position: relative;
      padding: 0;
      background: var(--dark-bg-1);
      outline: none;

      &::before {
        height: var(--height);
        width: calc(var(--height) * 1.5 - 2px);
        background: var(--dark-bg-2);
        position: absolute;
        left: 0;
        content: "";
        z-index: 1;
        transform: translateX(1px);
        transition: var(--dur) all ease;
        border-radius: var(--connect-radius) 0 0 var(--connect-radius);
        border: 1px solid var(--color);
      }

      & > span {
        z-index: 2;
        text-align: center;
        padding-right: 2px;

        &:first-child {
          padding: 0 0 0 2px;
        }
      }

      &.switched::before {
        transform: translateX(calc(var(--height) * 1.5));
        border-radius: 0 var(--connect-radius) var(--connect-radius) 0;
      }
    }

    .connect-settings-btn {
      border-radius: calc(var(--height) / 2);
      margin-left: 1em;
      height: var(--height);
      width: var(--height);
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;

      svg {
        font-size: 1.1em;
      }

      &:hover {
        background: var(--dark-bg-2);
      }
    }
  }
}

.connect-gui {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-items: center;

  .connect-list-wrapper,
  .connect-form {
    background: var(--dark-bg-1);
    border-radius: var(--box-radius);
    background: var(--dark-bg-1);
  }

  .connect-list-wrapper {
    height: 100%;
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .connect-form {
    padding: calc(var(--box-radius) * 1.5) var(--box-radius);
    width: 30em;
    display: grid;
    grid-template: "ip ip ftp ssh" "user user pw pw" "btn btn btn btn" / 1fr 0.6fr 0.6fr 0.6fr;
    gap: 25px 20px;
    height: min-content;
    margin: auto;

    .connect-ip {
      grid-area: ip;
    }

    .connect-ftp-port {
      grid-area: ftp;
    }

    .connect-ssh-port {
      grid-area: ssh;
    }

    .connect-user {
      grid-area: user;
    }

    .connect-pw {
      grid-area: pw;
    }

    .connect-form-btn {
      grid-area: btn;
      display: flex;
      gap: 10px;

      & > * {
        flex-grow: 1;
      }
    }

    & > * {
      position: relative;

      &:not(.connect-form-btn) > input {
        width: 100%;
      }

      &::before {
        position: absolute;
        top: -1.3em;
        font-size: 0.6em;
        font-variant: small-caps;
        left: 0;
        content: attr(data-info);
        text-transform: uppercase;
      }
    }
  }
}
