.tab-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    width: 0;
  }
}

.tab-new {
  -webkit-app-region: no-drag;
  border-radius: 0;
  height: var(--btn-size);
  width: var(--btn-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.tab-hint {
  width: 0;
  height: 100%;
  position: relative;
  z-index: 5;

  &::before {
    content: "";
    background: rgba(white, 0.5);
    height: 100%;
    position: absolute;
    left: -2px;
    top: 0;
    width: 4px;
    z-index: 5;
    transform: scaleX(0);
    transition: var(--dur) transform ease;
    // width: 4px;
  }

  &.tab-hint-active::before {
    // width: 4px;
    transform: scaleX(1);
  }
}
