#file-manager-context-menu {
  --menu-item-height: 2.75em;
  --r: 10px;
  position: absolute;
  bottom: calc(var(--plus-height));
  right: 0;
  width: 14em;
  overflow: hidden;
  height: 0;
  transition: var(--dur) height ease, var(--dur) top ease, var(--dur) left ease,
    var(--dur) border-radius ease;
  will-change: height;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: none;
  z-index: -1;
  border-radius: var(--r);
  outline: 0;

  &.menu-fixed {
    border-radius: var(--r) var(--r) 0 var(--r);
  }

  button {
    width: 100%;
    border-radius: 0;
    flex-grow: 1;
    font-size: inherit;
    font-size: 0.9em;
    padding: 0;
    background: var(--dark-bg-1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: var(--dur) background ease;
    padding: 0 0.5em;

    &:hover,
    &:focus {
      background: var(--dark-bg-2);
    }
  }

  .context-icon {
    width: var(--menu-item-height);
    height: var(--menu-item-height);
    display: grid;
    place-items: center;
  }

  &.menu-opened {
    height: calc(var(--items) * var(--menu-item-height));
    box-shadow: 1px 1px 10px 2px black;
  }

  .context-delete {
    background: #af5750;

    &:hover,
    &:focus {
      background: var(--red);
    }
  }
}
