/************************************************
* Header                                         *
*************************************************/
$headerSize: 36px;
$resizeSize: 2px;
$btnSize: $headerSize;

/*Header Bar*/
#headerBar {
  --btn-size: #{$btnSize};
  // position: relative;
  height: $headerSize;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: background-color 1s ease;
  // -webkit-user-select: none;
  background-color: var(--dark-bg-2);
  color: white;
  // position: fixed;
  width: 100%;
  position: relative;

  .navBtn {
    cursor: pointer;
    background: transparent;
    outline: none;
    color: white;
    transition: color 200ms ease-in-out;
    padding: 0 5px;

    &:hover {
      color: rgb(46, 204, 113);
    }
  }
}

/*Header Main*/
#headerMain {
  display: flex;
  height: $btnSize;
  justify-content: center;
  align-items: center;
}

/* Undraggable region on the left and right of the header. --> so that you can resize window */
.headerResizableVert {
  width: $resizeSize;
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0;

  &:first-child {
    left: 0;
  }

  &:last-child {
    right: 0;
  }
}
/* Undraggable region on the top of the header. --> so that you can resize window */
#headerResizableTop {
  height: $resizeSize;
  width: 100%;
  -webkit-app-region: no-drag;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  -webkit-app-region: drag;
  height: $btnSize;

  #headerTitle {
    padding-right: 5px;
    -webkit-app-region: drag;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - #{$headerSize * 3});
  }

  #headerTitleText {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 6px;
    cursor: default;
  }

  .headerDock {
    -webkit-app-region: no-drag;
    position: relative;
    height: $btnSize;
    flex-shrink: 0;
    width: $headerSize * 3;
  }

  /*Header button styles*/
  .headerButton {
    background: none;
    border: none;
    height: $headerSize;
    width: $headerSize;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    outline: none;

    &:hover,
    &:focus {
      background: rgba(180, 180, 180, 0.5);
    }

    &:active {
      background: rgba(150, 150, 150, 0.4);
    }

    &#fb_close:hover,
    &#fb_close:focus {
      background: rgba(255, 50, 50, 0.6) !important;
    }

    &#fb_close:active {
      background: rgba(255, 0, 0, 0.6) !important;
    }
  }
}

.headerContent#darwin {
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row-reverse;

  .headerDock {
    & > .headerButton:not(:first-child) {
      margin-left: 0;
    }
  }

  .headerButton {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-left: 5px;
    -webkit-app-region: no-drag;
    margin: 0 5px;

    &#close {
      background-color: #e74c32;
      &:hover,
      &:focus {
        background-color: #ff9a8a;
      }
      &:active {
        background-color: #ff8d7b;
      }
    }

    &#minimize {
      background-color: #fed045;

      &:hover,
      &:focus {
        background-color: #ffe9a9;
      }

      &:active {
        background-color: #ffde7b;
      }
    }

    &#resize {
      background-color: #96e734;

      &:hover,
      &:focus {
        background-color: #d6ffa6;
      }

      &:active {
        background-color: #bfff76;
      }
    }
  }
}
