.paste-buffer {
  position: absolute;
  bottom: calc(var(--r-padding));
  left: var(--r-padding);
  // height: calc(var(--plus-height) * 2 + 8px);
  display: flex;
  flex-direction: column;
  gap: var(--r-padding);
  z-index: 1;
}

.paste-buffer-btn {
  height: var(--plus-height);
  width: var(--plus-height);
  border-radius: 50%;
  display: grid;
  place-items: center center;
  font-size: inherit;
  transition: var(--dur) transform ease, var(--dur) background ease,
    var(--dur) color ease;
  animation: closed var(--dur) ease forwards;
  background: var(--dark-bg-1);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;

  &:hover {
    background: var(--dark-bg-2);
  }

  &:focus {
    box-shadow: none;
  }
}

.paste-buffer-part {
  position: relative;
  height: var(--plus-height);
  transition: var(--dur) height ease;

  &.paste-buffer-open {
    height: calc(var(--plus-height) * 4);
  }
}

.paste-buffer-content-wrapper {
  --content-width: 20em;
  height: 100%;
  width: 0;
  transition: var(--dur) height ease, var(--dur) width ease;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  background: var(--dark-bg-1);
  border-radius: calc(var(--plus-height) / 3);
}

.paste-buffer-open .paste-buffer-content-wrapper {
  width: var(--content-width);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);
  // padding-bottom: var(--r-padding);
}

.paste-buffer-content {
  width: var(--content-width);
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;

  .paste-buffer-part-header {
    display: flex;
    flex-direction: row;
    background: var(--background);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    align-items: center;
    p {
      text-align: left;
      flex-grow: 1;
      // direction: rtl;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      flex-shrink: 1;
      font-size: 0.9em;
    }

    button {
      width: calc(var(--plus-height) * 0.9);
      height: calc(var(--plus-height) * 0.9);
      border-radius: 50%;
      background: inherit;
      font-size: inherit;
      display: grid;
      place-items: center;
      flex-shrink: 0;

      &.btn-not-active {
        cursor: default;
      }

      &:not(.btn-not-active) {
        &:hover {
          background: var(--dark-bg-2);
        }
      }
    }

    .paste-buffer-part-cancel:hover {
      color: var(--red);
    }
  }
}

.paste-buffer-file {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: var(--plus-height);
  align-items: center;
  position: relative;

  .paste-buffer-file-name {
    flex-grow: 1;
    max-width: calc(100% - var(--plus-height) * 2);
    // display: inline-flex;
    place-items: center start;
    vertical-align: baseline;
    text-align: left;
    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: min-content;
  }

  .paste-buffer-file-type {
    height: var(--plus-height);
    width: var(--plus-height);
    display: flex;
    place-items: center;

    img {
      height: 90%;
    }
  }
}
