:root {
  --background: #1d1f24;
  --dark-bg-1: #282c34;
  --dark-bg-2: #343b47;
  --font-size: 1em;
  --color: #eee;
  --radius: 5px;
  --dur: 350ms;
  --dur2: calc(var(--dur) * 2);
  --box-radius: 1.25em;
  --red: rgb(202, 72, 58);
  --green: rgb(46, 204, 113);
  --headerSize: 26px;
  --terminalOpened: 20em;
  --terminalClosed: 2.5em;
}
