:root {
  --background: #1d1f24;
  --dark-bg-1: #282c34;
  --dark-bg-2: #343b47;
  --font-size: 1em;
  --color: #eee;
  --radius: 5px;
  --dur: 350ms;
  --dur2: calc(var(--dur) * 2);
  --box-radius: 1.25em;
  --red: rgb(202, 72, 58);
  --green: rgb(46, 204, 113);
  --headerSize: 36px;
  --terminalOpened: 20em;
  --terminalClosed: 2.5em;
  --color-primary: #7dda9b;
  --color-on-primary: #00391b;
  --color-primary-container: #005229;
  --color-on-primary-container: #99f6b5;
  --color-secondary: #b6ccb9;
  --color-on-secondary: #223527;
  --color-secondary-container: #384b3c;
  --color-on-secondary-container: #d2e8d4;
  --color-tertiary: #a2cdd9;
  --color-on-tertiary: #023640;
  --color-tertiary-container: #214c57;
  --color-on-tertiary-container: #beeaf7;
  --color-error: #ffb4a9;
  --color-error-container: #930006;
  --color-on-error: #680003;
  --color-on-error-container: #ffdad4;
  --color-background: #1a1c1a;
  --color-on-background: #e1e3de;
  --color-surface: #1a1c1a;
  --color-on-surface: #e1e3de;
  --color-surface-variant: #414942;
  --color-on-surface-variant: #c0c9bf;
  --color-outline: #8a938a;
  --color-inverse-on-surface: #1a1c1a;
  --color-inverse-surface: #e1e3de;
  --color-primary-light: #006d3a;
  --color-on-primary-light: #ffffff;
  --color-primary-container-light: #99f6b5;
  --color-on-primary-container-light: #00210d;
  --color-secondary-light: #4f6353;
  --color-on-secondary-light: #ffffff;
  --color-secondary-container-light: #d2e8d4;
  --color-on-secondary-container-light: #0d1f13;
  --color-tertiary-light: #3a646f;
  --color-on-tertiary-light: #ffffff;
  --color-tertiary-container-light: #beeaf7;
  --color-on-tertiary-container-light: #001f26;
  --color-error-light: #ba1b1b;
  --color-error-container-light: #ffdad4;
  --color-on-error-light: #ffffff;
  --color-on-error-container-light: #410001;
  --color-background-light: #fbfdf7;
  --color-on-background-light: #1a1c1a;
  --color-surface-light: #fbfdf7;
  --color-on-surface-light: #1a1c1a;
  --color-surface-variant-light: #dde5db;
  --color-on-surface-variant-light: #414942;
  --color-outline-light: #717971;
  --color-inverse-on-surface-light: #f0f1ec;
  --color-inverse-surface-light: #2e312e;
  --color-primary-dark: #7dda9b;
  --color-on-primary-dark: #00391b;
  --color-primary-container-dark: #005229;
  --color-on-primary-container-dark: #99f6b5;
  --color-secondary-dark: #b6ccb9;
  --color-on-secondary-dark: #223527;
  --color-secondary-container-dark: #384b3c;
  --color-on-secondary-container-dark: #d2e8d4;
  --color-tertiary-dark: #a2cdd9;
  --color-on-tertiary-dark: #023640;
  --color-tertiary-container-dark: #214c57;
  --color-on-tertiary-container-dark: #beeaf7;
  --color-error-dark: #ffb4a9;
  --color-error-container-dark: #930006;
  --color-on-error-dark: #680003;
  --color-on-error-container-dark: #ffdad4;
  --color-background-dark: #1a1c1a;
  --color-on-background-dark: #e1e3de;
  --color-surface-dark: #1a1c1a;
  --color-on-surface-dark: #e1e3de;
  --color-surface-variant-dark: #414942;
  --color-on-surface-variant-dark: #c0c9bf;
  --color-outline-dark: #8a938a;
  --color-inverse-on-surface-dark: #1a1c1a;
  --color-inverse-surface-dark: #e1e3de;
  --palette-primary100: #ffffff;
  --palette-primary99: #f3fff3;
  --palette-primary95: #bfffd1;
  --palette-primary90: #99f6b5;
  --palette-primary80: #7dda9b;
  --palette-primary70: #61be81;
  --palette-primary60: #45a268;
  --palette-primary50: #278751;
  --palette-primary40: #006d3a;
  --palette-primary30: #005229;
  --palette-primary20: #00391b;
  --palette-primary10: #00210d;
  --palette-primary0: #000000;
  --palette-secondary100: #ffffff;
  --palette-secondary99: #f3fff3;
  --palette-secondary95: #e0f7e2;
  --palette-secondary90: #d2e8d4;
  --palette-secondary80: #b6ccb9;
  --palette-secondary70: #9bb19e;
  --palette-secondary60: #819684;
  --palette-secondary50: #677c6b;
  --palette-secondary40: #4f6353;
  --palette-secondary30: #384b3c;
  --palette-secondary20: #223527;
  --palette-secondary10: #0d1f13;
  --palette-secondary0: #000000;
  --palette-tertiary100: #ffffff;
  --palette-tertiary99: #f6fdff;
  --palette-tertiary95: #d5f6ff;
  --palette-tertiary90: #beeaf7;
  --palette-tertiary80: #a2cdd9;
  --palette-tertiary70: #87b2be;
  --palette-tertiary60: #6d97a3;
  --palette-tertiary50: #537d88;
  --palette-tertiary40: #3a646f;
  --palette-tertiary30: #214c57;
  --palette-tertiary20: #023640;
  --palette-tertiary10: #001f26;
  --palette-tertiary0: #000000;
  --palette-neutral100: #ffffff;
  --palette-neutral99: #fbfdf7;
  --palette-neutral95: #f0f1ec;
  --palette-neutral90: #e1e3de;
  --palette-neutral80: #c6c7c3;
  --palette-neutral70: #a9aca7;
  --palette-neutral60: #8f918d;
  --palette-neutral50: #757874;
  --palette-neutral40: #5c5f5b;
  --palette-neutral30: #454744;
  --palette-neutral20: #2e312e;
  --palette-neutral10: #1a1c1a;
  --palette-neutral0: #000000;
  --palette-neutral-variant100: #ffffff;
  --palette-neutral-variant99: #f6fff4;
  --palette-neutral-variant95: #ebf3e9;
  --palette-neutral-variant90: #dde5db;
  --palette-neutral-variant80: #c0c9bf;
  --palette-neutral-variant70: #a5ada4;
  --palette-neutral-variant60: #8a938a;
  --palette-neutral-variant50: #717971;
  --palette-neutral-variant40: #586058;
  --palette-neutral-variant30: #414942;
  --palette-neutral-variant20: #2b322c;
  --palette-neutral-variant10: #161d17;
  --palette-neutral-variant0: #000000;
  --palette-error100: #ffffff;
  --palette-error99: #fcfcfc;
  --palette-error95: #ffede9;
  --palette-error90: #ffdad4;
  --palette-error80: #ffb4a9;
  --palette-error70: #ff897a;
  --palette-error60: #ff5449;
  --palette-error50: #dd3730;
  --palette-error40: #ba1b1b;
  --palette-error30: #930006;
  --palette-error20: #680003;
  --palette-error10: #410001;
  --palette-error0: #000000;
  --ypescale-display1-family: Roboto;
  --ypescale-display1-weight: Regular;
  --ypescale-display-large-family: Roboto;
  --ypescale-display-large-weight: Regular;
  --ypescale-display-medium-family: Roboto;
  --ypescale-display-medium-weight: Regular;
  --ypescale-display-small-family: Roboto;
  --ypescale-display-small-weight: Regular;
  --ypescale-headline-large-family: Roboto;
  --ypescale-headline-large-weight: Regular;
  --ypescale-headline-medium-family: Roboto;
  --ypescale-headline-medium-weight: Regular;
  --ypescale-headline-small-family: Roboto;
  --ypescale-headline-small-weight: Regular;
  --ypescale-title-large-family: Roboto;
  --ypescale-title-large-weight: Regular;
  --ypescale-headline6-family: Roboto;
  --ypescale-headline6-weight: Regular;
  --ypescale-title-medium-family: Roboto;
  --ypescale-title-medium-weight: Medium;
  --ypescale-title-small-family: Roboto;
  --ypescale-title-small-weight: Medium;
  --ypescale-label-large-family: Roboto;
  --ypescale-label-large-weight: Medium;
  --ypescale-body-large-family: Roboto;
  --ypescale-body-large-weight: Regular;
  --ypescale-body-medium-family: Roboto;
  --ypescale-body-medium-weight: Regular;
  --ypescale-body-small-family: Roboto;
  --ypescale-body-small-weight: Regular;
  --ypescale-label-medium-family: Roboto;
  --ypescale-label-medium-weight: Medium;
  --ypescale-label-small-family: Roboto;
  --ypescale-label-small-weight: Medium;
  --sys-typescale-display1: 64rem;
  --sys-typescale-display-large: 57rem;
  --sys-typescale-display-medium: 45rem;
  --sys-typescale-display-small: 36rem;
  --sys-typescale-headline-large: 32rem;
  --sys-typescale-headline-medium: 28rem;
  --sys-typescale-headline-small: 24rem;
  --sys-typescale-title-large: 22rem;
  --sys-typescale-headline6: 18rem;
  --sys-typescale-title-medium: 16rem;
  --sys-typescale-title-small: 14rem;
  --sys-typescale-label-large: 14rem;
  --sys-typescale-body-large: 16rem;
  --sys-typescale-body-medium: 14rem;
  --sys-typescale-body-small: 12rem;
  --sys-typescale-label-medium: 12rem;
  --sys-typescale-label-small: 11rem;
}
