.settings-wrapper {
  position: fixed;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 400ms ease-in-out;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  border-radius: 10px;
  &.shown {
    transform: translate(-50%, -50%);
  }
}
